<p>
    Thank you for joining this experiment. It consists of nine successive
    rounds. We want to know what risk you would take if, in every round, you
    have <b>10.000 dollars</b> to invest.
</p>

<p>
    You have to play all nine rounds to see what will come out of the risk
    you took. Every round you start again with another 10.000 dollars to
    invest. And every time you have to decide which part of this amount
    (between <b>0</b> and </b>100</b> percent) you want to invest in a stock
    with a <b>60%</b> chance to <b>lose 3%</b> and a <b>40%</b> chance to
    <b>win 7%</b>. In  between <b>every round</b> the computer decides if you
    belong to the group who <b>won 7%</b> or who lost <b>3%</b>.
</p>

<p>
    What this means as to how much return you got on your last investment is
    shown to you. After <b>nine rounds</b> the return of your investments
    through the <b>nine rounds is added up and shown to you</b>.
</p>

<p>
    See the next example:
</p>

<p>
    You decide to invest <b>50%</b> and the computer puts you in the group who
    <b>won</b>. Your return of this round can be calculated in the next manner:
    <b>7% win on 50% of 10.000,- dollar is 350 dollar</b>. The money you didn’t
    invest stays the same of course. So after the first round you will have
    10.350,- dollars. Now you begin with the next round.
</p>
