<p>
    Thank you for joining this experiment. It
    consists of nine successive rounds. We want to know what risk you
    would take if, in every round, you have
    <b>10.000dollars to invest</b>.
</p>

<p>
    You have to play all nine rounds to see what
    will come out of the risk you took. Every round you start again with
    another<b>10.000 dollars to invest</b>.
</p>

<p>
    To make it a bit difficult: you have to decide
    for three rounds in a row which part of this amount (between 0 and
    100 percent) you want to invest in a stock with a
    <b>60%</b>chance to <b>lose 3%</b> and a <b>40%</b> chance to <b>win 7%.</b>
    This means that you choose how much to invest before the first round
    and then you are committed to this choice in round one, two and
    three. <b>In between every round</b> the computer decides if you belong
    to the group who <b>won</b> <b>7%</b> or who <b>lost 3%</b>.
</p>

<p>
    What this means as to how much return you got
    on your <b> last three investments is shown to you after the three rounds</b>.
    After nine rounds the return of your investments through the nine rounds is
    added up and shown to you.
</p>

<p>
    How the return of the first row of three rounds
    is calculated is shown in the next example:
</p>

<p>
    You decide to <b>invest 50%</b>. Than without any influence from
    your side the computer puts you <b> three times randomly in a group that wins or loses</b>.
    After that the computer will calculate what your win is or what you lost.
</p>

<p>What that means in terms of result:</p>

<p>
    The computer only tells you that you <b>won 50,- dollars.</b>
    How that happened is not told.
    <b>(In this case you won once and lost two times:
      7% win on 50% of 10.000,- dollar is 350 dollar and two losses each of 3%
      on 50% of 10.000,- dollars is two times 150,- dollar. So you totally
      won 50,- dollars)</b>
</p>

<p>
    <b>With only the knowledge that you won 50,-
      dollars you then have to decide how much you will invest in rounds
      four, five and six and so on.</b>
</p>
