
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">Instructions</h3>

    <p>
        In this study you will play three rounds of
        "Myopic loss aversion: Additive vs Multiplicative".
    </p>

    <p>You are in {{group_type}} group</p>

    {% if group_type == constants.gadd %}
    <p>
        Get a new endowment of $10 in each round. The gains or losses of a
        certain period do not affect the endowment in the next period. In the
        end all the result of each round is added up. This looks like the next
        formula:
    </p>
    <span class="latex">

    </span>
    <p>
        Where FW is final wealth, X the new endowment in each period, α(t) the
        fraction  investment into the risky assets, r(t) the return on the
        risky investment in period t and T is the planning horizon.
    </p>
    {% else %}
    <p>
        The multiplicative group. They get a single endowment in the first
        period of $100.-. After the return is randomly chosen participant can
        reinvest their endowment together with its returns in round 2. This
        goes own for the remaining 8 rounds. Their final amount is the outcome
        of the last round*investment in the risky asset plus what they invested
        in the safe asset. Mathematically the group looks result of the group
        looks like the next formula:
    </p>
    <span class="latex">

    </span>
    <p>
        Here Y is the initial endowment and the rest of the abbreviations are
        the same as in the previous equation.
    </p>
    {% endif %}

</div>
