
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">Instructions</h3>

    {% if player.group.group_type == Constants.gadd %}
        {% if player.group.subgroup_type == Constants.sg1 %}
            {% include 'myopic_loss_aversion/Instructions/asg1.html' %}
        {% elif player.group.subgroup_type == Constants.sg2 %}
            {% include 'myopic_loss_aversion/Instructions/asg2.html' %}
        {% elif player.group.subgroup_type == Constants.sg3 %}
            {% include 'myopic_loss_aversion/Instructions/asg3.html' %}
        {% else %}
            {% include 'myopic_loss_aversion/Instructions/asg4.html' %}
        {% endif %}
    {% else %}
        {% if player.group.subgroup_type == Constants.sg1 %}
            {% include 'myopic_loss_aversion/Instructions/msg1.html' %}
        {% elif player.group.subgroup_type == Constants.sg2 %}
            {% include 'myopic_loss_aversion/Instructions/msg2.html' %}
        {% elif player.group.subgroup_type == Constants.sg3 %}
            {% include 'myopic_loss_aversion/Instructions/msg3.html' %}
        {% else %}
            {% include 'myopic_loss_aversion/Instructions/msg4.html' %}
        {% endif %}
    {% endif %}

    {% if Constants.dev %}
    <div class="alert alert-info">
        <p>You are in <b>{{player.group.group_type}} - {{player.group.subgroup_type}}</b> group</p>
    </div>

    {% endif %}

</div>
